*{
  box-sizing: border-box;
}

h1{
  text-align: center;
}

.profile{
  width: 900px;
  margin: 0 auto;
  border: 5px solid black;
}

table{margin: 0 auto}

h2{
  margin : 5px 20px;
}

hr{
  margin-left: 20px;
  margin-right: 20px;
}

img{
  width: 150px;
  height: 150px;
}

.photo{width: 100px;}

.photo input{width: 80px;}

table[name="career"] tr:nth-child(1){
  text-align: center;
}

table[name="career"] tr:not(:first-child){
  td:not(:nth-child(3)){text-align: center;}
}

table[name="career"] td:nth-child(1){width: 30%;}
table[name="career"] td:nth-child(2){width: 25%;}
table[name="career"] td:nth-child(3){width: 45%;}

table[name="participating"]{
  text-align: center;
  table-layout: fixed;
}

textarea{
  font-family: 고딕체;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
  display: block;
  margin: 20px auto -5px;
}

.video{
  text-align: center;
  margin-bottom: 20px;
  video{
    width: 600px;
    height: 500px;
  }
}

.c-head{font-weight: bold;}
